body {
  z-index: 0;
  padding-top: 2vh;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), to(#347deb));
  background: linear-gradient(to bottom, white 50%, #347deb);
  position: relative;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

header {
  text-align: center;
  color: black;
}

header p,
header .destination {
  text-align: left;
  padding-left: 5vw;
  font-weight: bold;
}

.records-table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
  height: 65vh;
  margin: auto;
  overflow-x: auto;
  background-color: #faf6c3;
  -webkit-box-shadow: 0px -1px 22px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -1px 22px -3px rgba(0, 0, 0, 0.75);
}

.records-table-container .new-record__delete-row-btn,
.records-table-container .new-record__edit-row-btn {
  padding: 0.3rem;
  width: 60px;
  margin: 0.1rem;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: #963c2c;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.records-table-container .new-record__delete-row-btn:hover,
.records-table-container .new-record__edit-row-btn:hover {
  background-color: #803325;
}

.records-table-container .new-record__delete-row-btn::after,
.records-table-container .new-record__edit-row-btn::after {
  content: "Delete";
}

.records-table-container .new-record__edit-row-btn {
  background-color: #5a51d6;
}

.records-table-container .new-record__edit-row-btn::after {
  content: "Edit";
}

.records-table-container .new-record__edit-row-btn:hover {
  background-color: #4f47bf;
}

.records-table-container table,
.records-table-container th,
.records-table-container td,
.records-table-container tr {
  border: 1px solid black;
  padding: 5px 2px;
  border-collapse: collapse;
  text-align: center;
}

.records-table-container .table__input-general-description {
  width: 40vw;
}

.records-table-container .table__input-details .table__wind-force-container {
  position: relative;
}

.records-table-container .table__input-details .table__wind-force-container .table__wind-tooltip-container {
  display: inline-block;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.records-table-container .table__input-details .table__wind-force-container .table__wind-tooltip-container .table__wind-tooltip-text {
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  width: 100%;
  white-space: nowrap;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  left: -100%;
  z-index: 1;
  opacity: 0;
}

.records-table-container .table__input-details .table__wind-force-container .table__wind-tooltip-container .table__wind-tooltip-text thead,
.records-table-container .table__input-details .table__wind-force-container .table__wind-tooltip-container .table__wind-tooltip-text tr,
.records-table-container .table__input-details .table__wind-force-container .table__wind-tooltip-container .table__wind-tooltip-text td {
  border: 1px solid white;
}

.records-table-container .table__input-details .table__wind-force-container:hover .table__wind-tooltip-text {
  visibility: visible;
  text-align: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 1;
}

.operation-buttons {
  text-align: center;
  padding: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.operation-buttons .new-record__btn {
  border: none;
  background-color: #4fa867;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  padding: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.operation-buttons .new-record__btn:hover {
  background-color: #3f8a53;
  cursor: pointer;
}

.operation-buttons .export-button {
  border: none;
  background-color: #963c2c;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  padding: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.operation-buttons .export-button:hover {
  background-color: #803325;
  cursor: pointer;
}

.operation-buttons .ship-details__button {
  border: none;
  background-color: #5a51d6;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  padding: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.operation-buttons .ship-details__button:hover {
  background-color: #4f47bf;
  cursor: pointer;
}

.operation-buttons .voyage-details__button {
  border: none;
  background-color: #88b33e;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  padding: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.operation-buttons .voyage-details__button:hover {
  background-color: #739636;
  cursor: pointer;
}

.operation-buttons .clear-records__button {
  border: none;
  background-color: #deaa1b;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  padding: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.operation-buttons .clear-records__button:hover {
  background-color: #ba9222;
  cursor: pointer;
}

.ship-details__popup {
  display: block;
  visibility: hidden;
  z-index: 9;
  position: absolute;
  top: 25%;
  left: 20%;
  width: 60vw;
  background-color: lightgrey;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ship-details__popup #ship-details__popup-closing-btn {
  height: 20px;
  width: 20px;
  background-color: darkred;
  color: white;
  text-align: center;
  font-weight: bold;
  position: absolute;
  right: 20px;
  cursor: pointer;
  border: 2px solid black;
}

.ship-details__popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  min-height: 25vh;
  margin: 0 auto;
  line-height: 1.5rem;
}

.ship-details__popup form input {
  text-align: center;
}

.ship-details__popup select {
  text-align-last: center;
  padding: 0.1rem;
}

.ship-details__popup #ship-details-submit-btn {
  border: none;
  background-color: #31508f;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  padding: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.ship-details__popup #ship-details-submit-btn:hover {
  background-color: darkred;
  cursor: pointer;
}

.voyage-details__popup {
  display: block;
  visibility: hidden;
  z-index: 9;
  position: absolute;
  top: 25%;
  left: 20%;
  width: 60vw;
  background-color: lightgrey;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.voyage-details__popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  min-height: 25vh;
  margin: 0 auto;
  line-height: 1.5rem;
}

.voyage-details__popup form input {
  text-align: center;
}

.voyage-details__popup #date-input {
  padding-left: 15%;
  cursor: pointer;
}

.voyage-details__popup #voyage-details__popup-closing-btn {
  height: 20px;
  width: 20px;
  background-color: darkred;
  color: white;
  text-align: center;
  font-weight: bold;
  position: absolute;
  right: 20px;
  cursor: pointer;
  border: 2px solid black;
}

.voyage-details__popup #voyage-details__submit-btn {
  border: none;
  background-color: #31508f;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  padding: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.voyage-details__popup #voyage-details__submit-btn:hover {
  background-color: darkred;
  cursor: pointer;
}

.new-record__popup {
  display: block;
  visibility: hidden;
  z-index: 9;
  position: absolute;
  top: 25%;
  left: 20%;
  width: 60vw;
  background-color: lightgrey;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 15%;
  margin: auto;
}

.new-record__popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  min-height: 25vh;
  margin: 0 auto;
  line-height: 1.5rem;
}

.new-record__popup form input {
  text-align: center;
}

.new-record__popup #new-record__popup-closing-btn {
  height: 20px;
  width: 20px;
  background-color: darkred;
  color: white;
  text-align: center;
  font-weight: bold;
  position: absolute;
  right: 20px;
  cursor: pointer;
  border: 2px solid black;
}

.new-record__popup #new-record__submit-btn {
  border: none;
  background-color: #31508f;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  padding: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  width: 40%;
  margin: auto;
}

.new-record__popup #new-record__submit-btn:hover {
  background-color: darkred;
  cursor: pointer;
}

.new-record__popup #edit-record {
  border: none;
  background-color: #31508f;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  padding: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  width: 40%;
  margin: auto;
  display: none;
}

.new-record__popup #edit-record:hover {
  background-color: darkred;
  cursor: pointer;
}

.new-record__popup form {
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

.new-record__popup form #new-record__remarks {
  resize: none;
  height: 3rem;
  padding: 0.2rem;
}

.confirm-row-deletion-popup {
  display: block;
  visibility: hidden;
  z-index: 9;
  position: absolute;
  top: 25%;
  left: 20%;
  width: 60vw;
  background-color: lightgrey;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 200px;
}

.confirm-row-deletion-popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  min-height: 25vh;
  margin: 0 auto;
  line-height: 1.5rem;
}

.confirm-row-deletion-popup form input {
  text-align: center;
}

.confirm-row-deletion-popup .confirm-row-deletion__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.confirm-row-deletion-popup .confirm-row-deletion__button-container button {
  border: none;
  background-color: #31508f;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  padding: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  width: 100px;
}

.confirm-row-deletion-popup .confirm-row-deletion__button-container button:hover {
  background-color: darkred;
  cursor: pointer;
}

.confirm-table-clearing-popup {
  display: block;
  visibility: hidden;
  z-index: 9;
  position: absolute;
  top: 25%;
  left: 20%;
  width: 60vw;
  background-color: lightgrey;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 200px;
}

.confirm-table-clearing-popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  min-height: 25vh;
  margin: 0 auto;
  line-height: 1.5rem;
}

.confirm-table-clearing-popup form input {
  text-align: center;
}

.confirm-table-clearing-popup .confirm-table-clearing__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.confirm-table-clearing-popup .confirm-table-clearing__button-container button {
  border: none;
  background-color: #31508f;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  padding: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  width: 100px;
}

.confirm-table-clearing-popup .confirm-table-clearing__button-container button:hover {
  background-color: darkred;
  cursor: pointer;
}

@media (max-width: 800px) {
  body {
    font-size: 12px;
  }
  .table__input-details .table__wind-force-container .table__wind-tooltip-container .table__wind-tooltip-text {
    font-size: 10px;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@media (max-width: 500px) {
  .table__input-details .table__wind-force-container .table__wind-tooltip-container .table__wind-tooltip-text {
    font-size: 8px;
  }
  .new-record__popup {
    display: block;
    visibility: hidden;
    z-index: 9;
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60vw;
    background-color: lightgrey;
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 5%;
    left: 5%;
    width: 90vw;
  }
  .new-record__popup form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
    min-height: 25vh;
    margin: 0 auto;
    line-height: 1.5rem;
  }
  .new-record__popup form input {
    text-align: center;
  }
  .new-record__popup form {
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 0.8rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 1.5rem;
    padding-bottom: 2rem;
  }
  .voyage-details__popup {
    width: 90vw;
    left: 2%;
  }
  .ship-details__popup {
    width: 90vw;
    left: 2%;
  }
}
/*# sourceMappingURL=styles.css.map */